*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 7%;
    padding-left: 4%;
}
.half-width img{
    width: 100%;
}
.color-highlights{
    color: #C3447A;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 25px;
}
p{
    color: dimgrey;
}
section{
    height: 500px;
    padding-bottom: 40px;
}
.anchor{
    text-decoration: none;
    background: #FF418C;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
}
/* Header Section */
#header{
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
}
.left-part{
    padding-top: 120px;
}
/* Biography Section */
#biography{
    background-image: url('images/biography-bg.png');
}
.right-part{
    padding-top: 120px;
}
/* Dream Will Comes True */
#dream-true{
    background: url('images/highlighted-topics.png');
    background-repeat: no-repeat;
}
#dream-true h1{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}
#dream{
    border-right: 7px solid;
    border-image: linear-gradient(180deg, #22c1c3, #fdbb2d);
    border-image-slice: 1;
}
#dream h3{
    padding-top: 30px;
}
#true{
    border-right: 7px solid;
    border-image: linear-gradient(180deg, #3f5efb, #fc466b);
    border-image-slice: 1;
}
#true h3{
    padding-top: 30px;
}
.box{
    height: 300px;
    box-shadow: 10px 10px 15px gray;
    margin-top: 60px;
}
.box h5{
    color: green;
}
/* Latest Work */
#latest-work{
    padding-top: 40px;
    background-image: url('images/latest-work-bg.png');
}
#latest-work h3{
    text-align: center;
    padding-bottom: 30px;
}
.work-section{
    display: flex;
    justify-content: center;
}
.finished-work{
    width: 27%;
    margin-left: 20px;
}
.finished-work img{
    width: 100%;
}
/* Client's Feedback */
#what-client-say{
    background-image: url('images/footer-bg.png');
    padding-top: 50px;
}
.clients-feedback{
    text-align: center;
}
.clients-feedback h3{
    padding-bottom: 67px;
}
.clients-feedback h4{
    font-size: 18px;
    padding-bottom: 10px;
}
.text{
    width: 20%;
    margin: auto;
    background: #FF418C;
    color: white;
    padding: 25px 130px;
    border-radius: 10px;
    margin-top: 80px;
}
.text p{
    color: whitesmoke;
}
.text h4{
    font-size: 20px;
}
/* Footer */
footer{
    padding: 20px 20px;
}
footer p{
    text-align: center;
}